<table>
  <% for (var i in quizzes) { %>        
     <tr>
        <td>
           <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
        </td>
     </tr> 
  <% } %>
</table>

<form method="get" atcion="/quizes">
	<br> Pregunta a buscar: <p>
	<input type="text" name="search" value="" placeholder="Escribir aquí">
	<input type="submit" value="Buscar"
</form>